<div class="jumbotron text-center">
  <h1>Pagina login</h1>
</div>


<div class="col-md-12" ng-if="!userLoggedIn">
  <form ng-submit="formSubmit(loginForm)" class="form" id="loginForm" name="loginForm">
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="username" placeholder="utilizator" required=""/>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" ng-model="password" placeholder="parola" required=""/>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Login</button>
        <span class="text-danger">{{ error }}</span>
      </div>

    </div>
  </form>
</div>
<div class="col-md-12" ng-if="userLoggedIn">
  <form action="logout" class="form">
    <div class="col-md-4">
      <h3>Salut, {{ user }}!</h3>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Logout</button>
      </div>
      <span class="text-danger">{{ error }}</span>
    </div>
  </form>
</div>
